.registration__avg-button {
  color: var(--hex-brand-main-1);
  background-color: var(--hex-brand-accent-4);
  box-shadow: 0 0 0 1px var(--hex-brand-main-2);
}

.registration__avg-button:hover:not([disabled]):not(.registration__avg-button--static) {
  background-color: var(--hex-brand-accent-6);
  box-shadow: 0 0 0 1px var(--hex-brand-main-2);
}

.registration__avg-button.registration__avg-button--static {
  opacity: 0.5;
}
