.meeting-pill {
    color: rgb(var(--rgb-brand-main-1));
    background: rgb(var(--rgb-brand-accent-1));
}

[data-panel="list"] th {
    color: rgb(var(--rgb-brand-accent-1));
    background: rgb(var(--rgb-brand-main-1));
}
