.widget-panel[data-panel="help"] .settings-panel {
  color: rgb(var(--rgb-brand-main-1));
}

.widget-panel[data-panel="help"] .help-item {
  background: rgb(var(--rgb-neutral-1));
  border-color: rgb(var(--rgb-neutral-4));
}