.widget-panel[data-panel="settings"] .settings-panel {
  color: rgb(var(--rgb-brand-main-1));
}

.widget-panel[data-panel="settings"] .settings-field .link {
  background: rgb(var(--rgb-brand-accent-5));
  color: rgb(var(--rgb-brand-main-1));

  border-color: rgb(var(--rgb-brand-accent-11));
}

.widget-panel[data-panel="settings"] .settings-field .link .material-symbols-rounded {
  color: rgb(var(--rgb-brand-main-1));
}

.widget-panel[data-panel="settings"] .settings-field .link:hover {
  background: rgb(var(--rgb-neutral-1));
  border-color: rgb(var(--rgb-brand-accent-9));
}

.widget-panel[data-panel="settings"] .settings-field .link:focus-visible {
  outline-color: rgb(var(--rgb-brand-accent-9));
}
