.widget-header,
.widget-tabs {
  color: rgb(var(--rgb-brand-accent-1));
  background: rgb(var(--rgb-brand-main-1));
}

#widget-title {
  color: rgb(var(--rgb-brand-accent-6));
}

/* tabs */
.tab-button {
  color: rgb(var(--rgb-brand-accent-6));
  background: rgb(var(--rgb-brand-main-1));
  opacity: 0.5;
}

.tab-button:hover {
  background: rgb(var(--rgb-brand-main-6));
  opacity: 0.75;
}

.tab-button.is-active {
  opacity: 1;
  background: rgb(var(--rgb-brand-main-6));
}

/* buttons */
.btn {
  border: none;

  color: rgb(var(--rgb-brand-accent-6));
  background: rgb(var(--rgb-brand-main-1));
}

.btn:hover {
  opacity: 0.75;
  background: rgb(var(--rgb-brand-main-6));
}

.btn:active {
  opacity: 1;
}

/* settings/help icons */
.settings .material-symbols-rounded {
  color: rgb(var(--rgb-brand-accent-3));
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
}

.help .material-symbols-rounded {
  color: rgb(var(--rgb-brand-accent-3));
  font-variation-settings: "FILL" 1, "wght" 800, "GRAD" 0, "opsz" 24;
}

.settings:hover .material-symbols-rounded {
  text-shadow: 0 0 10px rgb(var(--rgb-brand-main-8));
  transition: all 0.3s ease;
}

/* search */
#widget-search {
  background-color: rgb(var(--rgb-brand-accent-4));
  color: rgb(var(--rgb-brand-main-1));
  opacity: 0.5;

  border-color: rgb(var(--rgb-brand-main-2));

  transition: all 0.2s ease;
}

#widget-search::placeholder {
  color: rgb(var(--rgb-brand-main-1));
  opacity: 0.75;
}

#widget-search:hover:not(:focus-visible) {
  box-shadow: 0 0 8px rgb(var(--rgb-brand-accent-4));
}

#widget-search:focus-visible {
  opacity: 1;
}

.widget-search-wrap .search-icon {
  color: rgb(var(--rgb-brand-main-1));
  opacity: 0.5;
  z-index: 10;
}

.widget-search-wrap:focus-within .search-icon {
  opacity: 1;
}

/* export dropdown */
.export-menu {
  background: rgb(var(--rgb-brand-accent-8));
  border-color: rgb(var(--rgb-brand-main-3));
}

.export-option {
  background: rgb(var(--rgb-brand-accent-4));
  color: rgb(var(--rgb-brand-main-1));
}