.widget {
  color: rgb(var(--rgb-brand-main-1));
  background: rgb(var(--rgb-brand-accent-7));
  border-color: rgb(var(--rgb-brand-main-1)) !important;
}

.widget-body,
.widget-footer {
  border-color: rgb(var(--rgb-brand-main-1));
}

.pill {
  border-color: rgb(var(--rgb-brand-accent-12));
}

.muted {
  color: rgb(var(--rgb-brand-main-7));
}

.widget :focus-visible {
  outline: none;
  box-shadow: none;
}
