/* -------------------------------------------------------------------------- */
/* WIDGET BASE COLORS                                                         */
/* -------------------------------------------------------------------------- */

.widget {
  color: #401d81;
  background: #fbf9ff;
  border-color: #401d81 !important;
}

.widget-body,
.widget-footer {
  border-color: #401d81;
}

.pill {
  border-color: #e0e7ff;
}

.muted {
  color: #9583d0;
}

.widget :focus-visible {
  outline: none;
  box-shadow: none;
}
